:root {
    --main-color: #333;
    --secondary-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--secondary-color);
    text-align: center;
}

header {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.caja {
    background-color: white;
    border: 2px solid var(--main-color);
    padding: 20px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}